<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <header>
    <div class="container">
      <img src="/images/mealplanlogo.png" alt="Meal Planner Logo" class="logo">
    </div>
  </header>

  <section class="register">
    <div class="container">
    
      <h1>Registreren</h1>

      <form action="/register" method="POST">
        <div class="registerinput">
          <label for="name">Gebruikersnaam:
          <input type="text" id="name" name="name" required>
          </label>
        </div>

        <div class="registerinput">
          <label for="email">E-mail:
          <input type="email" id="email" name="email" required>
          </label>
        </div>

        <div class="registerinput">
          <label for="password">Wachtwoord:
          <input type="password" id="password" name="password" required>
          </label>
        </div>

        <button type="submit">Registreer</button>
      </form>

      {% if errorMessage %}
        <div class="error-message">
          <p>{{ errorMessage }}</p>
        </div>
      {% endif %}

      <p>Heb je al een account? <a href="/login">Inloggen</a></p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2025 Maaltijdplanner. Alle rechten voorbehouden.</p>
    </div>
  </footer>
</body>
</html>
